#divGrid {
  margin:60px;
  width: 80%;
  display: grid;

}

#div1 {
  display:flex;
  justify-content: space-between;
    border-style: groove;
    padding: 20px;
    width: 90%;
    margin:15px 50px 15px;
}

h2 {
  width:50%;
  
}

#clock{
  background-color: red;
  padding: 20px;
  width: 30%;
}


#div2 {

    border-style: groove;
    padding: 20px;
    width: 90%;
    margin:5px 50px 5px;
}



#div3 {

    border-style: groove;
    width: 90%;
    margin:25px 50px 25px;
    
}

#Inputheader{
    background-color: gainsboro;
}
