body {
  background-size: cover;
}

.jumbotron {
  background-color: whitesmoke;
  opacity: 0.93;
  color: black;
}

#clock {
  margin-left: 371px;
  font-family: "Stardos Stencil", cursive;
  font-size: 24px;
}

.availableTrainsDiv {
  opacity: 0.93;
}

.trainDiv {
  opacity: 0.93;
}

h2 {
  width: 50%;
}

#time {
  padding: 20px;
  width: 30%;
}

form {
  background-color: whitesmoke;
  opacity: 0.93;
}
