body {
  background-size: cover;
}

.jumbotron{
  background-color: whitesmoke;
  opacity: 0.93;
  color: black;

}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: black;
  font-size: 60px;
  font-family: Orbitron;
  letter-spacing: 7px;

}

.availableTrainsDiv {
  opacity:0.93;
}

.trainDiv {
  opacity:0.93;
}

h2 {
  width: 50%;
}

#time {
  padding: 20px;
  width: 30%;
}


form {
  background-color: whitesmoke;
  opacity: 0.93;
}
